.container {
  width: 255px;
  height: 500px;
  background: #f8f8f8;
  border: 0.8px solid #6d6d6d;
  position: relative;
  margin-top: 50px;
}

.imgCon {
  width: 132px;
  height: 188px;
  border: 1px solid #6d6d6d;
  border-radius: 70px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.img {
  width: 150%;
}

.contentCon {
  margin-top: 152px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}

.text_area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.type {
  font-size: 18px;
  color: #6d6d6d;
  font-style: italic;
  text-decoration: underline;
}

.title {
  font-size: 24px;
  color: #6d6d6d;
  margin-top: 20px;
}

.author2 {
  color: #6d6d6d;
  font-size: 15px;
  margin-bottom: 20px;
}

.des {
  color: #6d6d6d;
  font-size: 15px;
  margin: 0 20px;
  max-height: 250px;
  overflow: hidden;
}

.author_img {
  width: 32px;
  height: 32px;
  border: 0.3px solid #6d6d6d;
  margin-right: 10px;
}

.unlike {
  font-size: 25px;
  cursor: pointer;
}

.like {
  font-size: 25px;
  cursor: pointer;
  color: red;
}

.author_section {
  padding: 0px 20px;
}

.details {
  display: flex;
  align-items: center;
}

.sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.price {
  color: #6d6d6d;
  width: 60px;
  height: 60px;
  background: #f6f6f6;
  border: 1.5px solid #6d6d6d;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
  left: -20px;
}

.link {
  text-decoration: none;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 660px) {
  .container {
    width: 200px;
    height: 450px;
  }

  .imgCon {
    width: 102px;
    height: 150px;
    left: 50%;
    transform: translateX(-50%);
  }

  .contentCon {
    margin-top: 120px;
  }

  .type {
    font-size: 16px;
  }

  .title {
    font-size: 20px;
  }

  .des {
    font-size: 13px;
  }

  .author2 {
    font-size: 14px;
  }

  .price {
    width: 50px;
    height: 50px;
  }
}
